.cartMainbox{
    width: 100vw;
    min-height: 100vh;
    background-color: #F4F4F6;
}
.headerBox{
    width: 100vw;
    background-color: white;
    /* border: 1px solid rgb(202, 201, 201); */
}
.header{
    align-items: center;
    max-width: 75%;
    border: none;
    margin: auto;
}
.secureTag{
    align-items: center;
    background-color: #F4F4F6;
}
.emptyCartImg{
    width: 32%;
}
.headerMainBox{
    justify-content: center;
    align-items: center;
    background-color: #F4F4F6;
    height: 50%;
}
.productDiv{
    height: 75vh;
    margin: auto;
    gap: 1rem;
}
.products{
    /* width: 100%; */
    width: 50vw;
    border: 1px solid black;
}
.cartImgBox{
    border-bottom: 1px dotted black;
}
.cartImage{
    width: 7rem;
}
.removeBtn{
    width: 40%;
    border-right: 1px solid black;
}
.removeBtn:hover{
    background-color: #F4F4F6;
    transition: .5s;
}
.moveToFovoritesBtn:hover{
    background-color: #F4F4F6;
    transition: .5s;
}
.borderBottom{
    border-bottom: 1px solid rgb(199, 199, 199);
}
.productDetailsBox{
    width: 20rem;
}
.checkoutBtn{
    background-color: #51CBCC;
}
.addressMainbox{
    margin: auto;
    width: 96%;
    min-height: 100vh;
    background-color: #F4F4F6;
}
.addressDiv{
    width: 40rem;
    gap: 1rem;
}
.addressFormBox{
    
}
.addressAllBox{
    
}
.addressDiv input{
    border: 1px solid;
    border-radius: 3px;
    padding: .5rem .5rem;
    width: 48%;
}

@media (max-width:1120px){
    .productDetailsBox{
        width: 90vw;
    }
    .products{
       width: 90%;
        border: 1px solid black;
    }
    .productDiv{
        width: 90vw;
        height: 50vh;
    }
    .secureText{
        font-size: .7rem;
        padding: 0;
        margin: 0;
    }
    .secureTag{
        padding: .3rem;
    }
    .cartSecureIcon{
        width: 1.2rem;
    }
    .headerMainBox{
        height: 75vh;
        
    }
    .emptyCartImg{
        width: 70vw;
    }
    .cartContinueBtn{
        padding: 1rem 3rem;
        font-size: 1rem;
        width: 70vw;
    }
    /* .cartProductName{
        overflow: hidden;
        text-overflow: ellipsis;
        height: 1.5rem;
    } */
}
@media (max-width:520px){
    .cartImgBox{
        

    }
    .products{
        padding: .4rem;
    }
    .cartProductName{
        font-size: .8rem;
    }
    .cartImage {
        width: 7rem;
    }
    .removeBtn, .moveToFovoritesBtn{
        font-size: .8rem;
    }
    .headerMainBox{
        height: 75vh;
        
    }
    .emptyCartImg{
        width: 70vw;
    }
    .cartContinueBtn{
        padding: 1rem 3rem;
        font-size: 1rem;
        width: 70vw;
    }
}