.cartMainbox {
    width: 100vw;
    min-height: 100vh;
    background-color: #F4F4F6;
}

.headerBox {
    width: 100vw;
    background-color: white;
    /* border: 1px solid rgb(202, 201, 201); */
}

.header {
    align-items: center;
    max-width: 75%;
    border: none;
    margin: auto;
}

.secureTag {
    align-items: center;
    background-color: #F4F4F6;
}

.emptyCartImg {
    width: 32%;
}

.headerMainBox {
    justify-content: center;
    align-items: center;
    background-color: #F4F4F6;
    height: 50%;
}
.productDiv::-webkit-scrollbar {
    display: none;
}
.productDiv {
    max-height: 75vh;
    margin: auto;
    margin-bottom: 1rem;
    gap: 1rem;
    -ms-overflow-style: none;
}

.products {
    /* width: 100%; */
    width: 41vw;
    
    border: 1px solid black;
}

.cartImgBox {
    border-bottom: 1px dotted black;
}

.cartImage {
    width: 7rem;
}

.removeBtn {
    width: 40%;
    border-right: 1px solid black;
}

.removeBtn:hover {
    background-color: #F4F4F6;
    transition: .5s;
}

.moveToFovoritesBtn:hover {
    background-color: #F4F4F6;
    transition: .5s;
}

.borderBottom {
    border-bottom: 1px solid rgb(199, 199, 199);
}

.productDetailsBox {
    width: 20rem;
}

.checkoutBtn {
    background-color: #51CBCC;
}

.addressHeader {
    width: 80%;
    align-items: center;
    margin: auto;
}

.addressMainbox {
    margin: auto;
    width: 96%;
    min-height: 100vh;
    background-color: #F4F4F6;
}

.addressDiv {
    width: 40vw;
    gap: 1rem;
}

.cartLoading {
    align-items: center;
    height: 85vh;
    width: 90vw;
    margin: auto;
}

.cartLineIconBox {
    align-items: center;
}

.cartLineIcon {
    border: 1px solid black;
    border-radius: 50%;
}

.cartTimeLine {
    align-items: center;
}

.cartLine {
    border: 1px solid black;
    height: 1px;
    width: 40%;
}

.addressAllBox {
    height: auto;
    background-color: white;
    width: 75%;
    padding-bottom: 2rem;
}

.addressDiv input {
    border: 1px solid;
    border-radius: 3px;
    padding: .5rem .5rem;
    width: 48%;
}

.paymentSections div {
    display: flex;
    align-items: center;
    padding: 1.29rem 1rem;
    margin: 0.2rem .5rem;
    background-color: #F4F4F6;
    cursor: pointer;
    /* width: 100%; */
}

.paymentSections div img {
    width: 2rem;
    margin-right: .5rem;

}

.paymentMsg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.51);
    display: flex;
    justify-content: center;
    align-items: center;
}

.payCloseBtn:hover {
    background-color: red;
}

.backToShopBtn {
    background-color: black;

}

.backToShopBtn:hover {
    color: rgb(204, 204, 208);
}

.cartContinueBtn:hover {
    transform: scale(1.05);
}


@media (max-width:1120px) {
    .productDetailsBox {
        width: 80vw;
    }
    .w-3\/4 {
        width: 94%;
    }
    .products {
        margin: auto;
        width: 90%;
        margin-bottom: 1rem;
        border: 1px solid black;
    }

    .productDiv {
        width: 80vw;
        max-height: 40vh;
        min-height: 23vh;

    }

    .py-8 {
        padding-top: 0rem;
        padding-bottom: 2rem;
    }

    .secureText {
        font-size: 2vw;
        padding: 0;
        margin: 0;
    }

    .secureTag {
        padding: 1rem;
    }

    .cartSecureIcon {
        width: 1.2rem;
    }

    .headerMainBox {
        height: 75vh;

    }

    .emptyCartImg {
        width: 70vw;
    }

    .cartContinueBtn {
        padding: 1rem 3rem;
        font-size: 1rem;
        width: 40vw;
    }

    .addressFormBox {
        justify-content: center;
    }
    .p-5 {
        padding: 0.25rem;
    }
    .mr-3 {
        margin-right: 0rem;
    }
    .addressDiv {
        width: 90vw;
        gap: 1rem;
    }

    .mr-9 {
        margin-right: 0rem !important;
    }

    .addressDiv input {
        border: 1px solid;
        border-radius: 3px;
        padding: 0.5rem 0.5rem;
        width: 90%;
    }

    /* .cartProductName{
        overflow: hidden;
        text-overflow: ellipsis;
        height: 1.5rem;
    } */
}

@media (max-width:820px) {
    .addressAllBox {
        width: 95%;
        padding-bottom: 2rem;

    }
    .py-6 {
        padding-top: 0rem;
        padding-bottom: 1.5rem;
    }
    .cartLine {
        border: 1px solid black;
        height: 1px;
        width: 25%;
    }

    .cartTimeLine {
        width: 90%;
    }

    .w-3\/4 {
        width: 95%;
    }
}

@media (max-width:720px) {
    .cartContinueBtn {
        width: 70vw;
    }
    .products {
        margin: auto;
        padding: 0.4rem;
        width: 100%;
        margin-bottom: 1rem;
        border: 1px solid black;
    }
    .productDiv {
        padding-top: 1rem;
        width: 90vw;
    }
    .gap-3 {
        gap: 0rem;
    }
    .pb-4 {
        padding-bottom: 0.3rem;
    }
    .px-8 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .addressAllBox {
        height: auto;
        background-color: white;
        width: 95%;
        padding-bottom: 2rem;
    }
    .productDetailsBox {
        width: 95vw;
    }
}

@media (max-width:520px) {
    .products {
        padding: .4rem;

    }

    .cartProductName {
        font-size: .8rem;
    }

    .cartImage {
        width: 7rem;
    }

    .removeBtn,
    .moveToFovoritesBtn {
        font-size: .8rem;
    }

    .headerMainBox {
        height: 75vh;

    }

    .emptyCartImg {
        width: 70vw;
    }

    .cartContinueBtn {
        padding: 1rem;
        font-size: .8rem;
    }

    .logo {
        width: 7rem;
        height: 2rem;
    }
}