.forWomenName{
    position: absolute;
    bottom: .3rem;
    left: .5rem;
    border-left: 4px solid yellow;
    padding-left: .7rem;
    font-weight: 400;
    font-size: 1rem;
    
}
@media (max-width:520px){
    .forWomenName{
        font-size: .7rem;
    }
    .newArrivalTag{
        font-size: 1rem;
    }
}