.shirtTag{
    border-left: 4px solid yellow;
}
@media (max-width:520px){
    .forMenShirtBox{
        display: none;
    }
    .mt-12 {
        margin-top: 1rem;
    }
    .smallImg {
        width: 6.6rem;
    }
    .nameTagOfMenTshirt {
        border-left: 2px solid yellow;
        left: -3.25rem;
        bottom: 0;
        font-size: .7rem;
    }
    .mr-6 {
        margin-right: 0.5rem;
    }
    .shirtTag {
        font-size: 1rem;
    }
}