.allBox{
    margin: auto;
    /* width: 80vw; */
    justify-content: center;
    margin-bottom: 35rem;
    min-height: 80vh;
}
.cardBox{
    max-width: 57vw;
    flex-grow: 1; 
    justify-content: center;
}
.cardName{
    text-overflow: ellipsis;
}
.card{
    max-width: 14rem;
    min-width: 8rem;
}

.filterContainer{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.filterContainer::-webkit-scrollbar {
    display: none;
}
.footerBottom{
    cursor: default;
    background-color: black;
    width: 100vw;
    bottom: -35rem;
    left: 0;
}
@media (max-width:1280px){
    .allBox{
        justify-content: center;
    }
    .cardBox{
        max-width: 90vw;
        justify-content: center;
        margin-bottom: 31rem;
    }
    .card{
        max-width: 9rem;
        min-width: 8rem;
    }
}