.bigImgMenTshirt{
    width: 30rem;
}
.smallImg{
    width: 15rem;
}
.menTshirt1{
    border-radius: 7px;
}
.menTshirt2{
    border-radius: 7px;
}
.nameTagOfMenTshirt{
    border-left: 2px solid yellow;
    left: -6.25rem;
}
@media (max-width:520px){
    .bigImgMenTshirt {
        display: none;
    }
    .smallImg{
        display: flex;
        flex-direction: row;
        width: 92vw;
        gap: 1rem;
    }
    .nameTagOfMenTshirt{
        border-left: 2px solid yellow;
        left: 1rem;
        bottom: 1rem;
    }
}