.bigImgMenTshirt{
    width: 29vw;
}
.smallImg {
    width: 13.8vw;
}
.forMenScroll{
    -ms-overflow-style: none;
}
.forMenScroll::-webkit-scrollbar {
    display: none;
}
.menTshirt1{
    border-radius: 7px;
}
.menTshirt2{
    border-radius: 7px;
}
.nameTagOfMenTshirt{
    font-size: 1rem;
    border-left: 2px solid yellow;
    left: -6.25rem;
}
@media (max-width:1280px){
    .bigImgMenTshirt {
        display: none;
    }
    .smallImg {
        display: flex;
        gap: 1.2rem;
        width: 44.2vw;
        
    }
    .mr-6 {
        margin-right: 0rem;
    }

    .nameTagOfMenTshirt{
        font-size: 2.3vw;
        border-left: 2px solid yellow;
        left: 7.75%;
        bottom: 9.9%;
    }
}
@media (max-width:520px){
    .bigImgMenTshirt {
        display: none;
    }
    .smallImg{
        display: flex;
        flex-direction: row;
        width: 77vw;
        gap: 1rem;
    }
    .nameTagOfMenTshirt{
        font-size: .8rem;
        font-weight: 500;
        border-left: 2px solid yellow;
        left: 4%;
        bottom: 13%;
    }
}