.orderBox{
    max-width: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

@media (max-width:520px){
    .orderBox{
        max-width: fit-content;
        display: grid;
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr;
    }
    .orderCard{
        font-size: .9rem;
    }
}
