.wishlistMainBox{
    width: 63vw;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    
}
.wishlistTag{
    background-color: rgba(0, 0, 0, 0.03);
}
.wishlistItems{
    flex-grow: 1;
 }

@media (max-width:520px){
    .wishlistMainBox{
        width: 90vw;
        margin: auto;
        margin-top: 1rem;
    }
    .wishlistItems{
        justify-content: space-evenly;
     }
    
}