.wishlistMainBox {
    width: 80vw;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

}

.wishlistTag {
    background-color: rgba(0, 0, 0, 0.03);
}

.wishlistCard {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: 14rem;
    min-height: 15.7rem;
    overflow: hidden;
}
.wishlistItems{
    justify-content: center;
}


@media (max-width:1280px) {
    .wishlistMainBox {
        width: 98vw;
        margin-top: 1rem;
    }
    .wishlistCard {
        margin-bottom: .5rem;
        width: 23vw;
    }
    .gap-5 {
        gap: 0.5rem;
    }

}

@media (max-width:620px) {
    .wishlistMainBox {
        width: 98vw;
        margin-top: 1rem;
    }

    .gap-5 {
        gap: 0.5rem;
    }
    .wishlistCard {
        margin-bottom: .5rem;
        width: 47vw;
    }

}