.wishlistMainBox{
    width: 75vw;
    margin: auto;
    margin-top: 2.5rem;
}

@media (max-width:520px){
    .wishlistMainBox{
        width: 90vw;
        margin: auto;
        margin-top: 1rem;
    }
    .wishlistItems{
        justify-content: space-evenly;
     }
    
}