.bigSavingZoneTag{
    border-left: 4px solid yellow;
}
.savingBox{
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
} 
.bigImg{
    width: 31rem;
    margin: 0 .5rem 0 0;
    scrollbar-width: none;
}
.bigImg img{
    border-radius: 7px;
}
.savingDualBox1{
    width: 98%;
    margin-bottom: 1rem;
}
.savingDualBox2{
    width: 98%;
    margin-top: 1rem;
}
.savingBox::-webkit-scrollbar {
    display: none;
}