.singleCard {
    width: 75%;
    margin: auto;
    height: auto;
}

.cardImage {
    height: 35rem;
    display: flex;
}


.displayImage {
    position: relative;
}

.cardImgArrowL {
    display: block;
    left: -1%;
    top: 48%;
}

.cardImgArrowR {
    display: block;
    right: -1%;
    top: 48%;
}
.cardImgArrowL:hover,.cardImgArrowR:hover{
    opacity: .7;
}

/* .displayImage{
    width: 83%;
} */
.productDescription {
    text-align: left;
    background-color: #F2F2F2;
}

.productDetailsName {
    text-align: left;
}

.customerReviewBox {
    background-color: #F2F2F2;
}

.customerReview {
    border-bottom: 2px solid yellow;
}

.boxOfColor {
    border: 1px solid rgb(184, 184, 184);
    border-radius: 50%;
    /* padding: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-weight: 700;
}

.colorofProduct {

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    font-weight: 700;
}

.size {
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-weight: 700;
}
.cardDetailBtn{
    grid-template-columns: repeat(2,1fr);
}
.cartbtn {
    display: flex;
    border-radius: 7px;
    color: white;
    font-size: .8rem;
    align-items: center;
    
}

.buybtn {
    align-items: center;
    
    border-radius: 7px;
    font-size: .9rem;
}

.scrollImg {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollImg::-webkit-scrollbar {
    display: none;
}

#quantity {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.3rem;
}

@media (max-width:1280px) {
    .p-4 {
        padding: 1rem;
    }

    .singleCard {
        width: 95%;
    }

    .cartbtn {
        display: flex;
        border-radius: 7px;
        color: white;
        font-size: .8rem;
        align-items: center;
        padding: 0.69rem .2rem;
    }

    .buybtn {
        align-items: center;
        padding: 0.7rem 3vw;
        border-radius: 7px;
        font-size: .9rem;
    }
}

@media (max-width:887px) {
    .scrollImg {
        display: none;
    }

    .cardImage {
        height: auto;
        flex-wrap: wrap;
    }

    .productDetailBox {
        width: 95%;
    }

    .displayImage {
        position: relative;
    }

    .cardImgArrowL {
        display: block;
        left: 2%;
        top: 48%;
        opacity: .7;
    }

    .cardImgArrowR {
        display: block;
        right: 2%;
        top: 48%;
        opacity: .7;
    }

}

@media (max-width:780px) {
    .singleCard {
        width: 95%;
        margin: auto;
        height: auto;
    }

    .cardImage {
        height: auto;
        flex-wrap: wrap;
    }

    .scrollImg {
        display: none;
    }

    .productDetailBox {
        width: 100%;
    }
}