.loading{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.loading img{
    width: 12rem;
    height: 12rem;
}

@media (max-width:1120px){
    .loading img{
        width: 8rem;
        height: 8rem;
    }
}