.footerMainBox{
    width: 80vw;
    margin: auto;
}
.footerInfoBox1 p{
    margin-top: .5rem;
    font-weight: 600;
    font-size: 1rem;
}
.socialMediaIcon img{
    width: 2.5rem;
    margin-right: 1.5rem;
}
.paymentIcon{
    border-right: 1px solid yellow;
}
@media (max-width:1280px){
    .footerInfoBox1{
        flex-wrap: wrap;
    }
    .footerInfoBox1 h1{
        margin-top: .8rem;
    }
    .footerInfoBox1 p {
        margin-top: 0.5rem;
        font-weight: 600;
        font-size: 1rem;
    }
    .paymentSocialMediaBox{
        flex-direction: column;
    }
    .paymentIcon{
        border-right: none;
        width: 100%;
    }
    .paymentIcon h1{
        font-size: 1.3rem;
    }
    .socialMediaIcon h1{
        font-size: 1.3rem;
    }
    .socialMediaIcon img{
        width: 1.7rem;
        margin-right: .8rem;
    }
    .footerMainBox {
        width: 86vw; 
        margin: auto;
    }
    .mb-10 {
        margin-bottom: 1.5rem;
    }
}
@media (max-width:1000px){
    .downloadBtnBox{
        grid-template-columns: 1fr;
        width: 15vw;
    }
}
@media (max-width:800px){
    .text-2xl {
        font-size: 1rem;
        line-height: 1rem;
    }
    .footerInfoBox1{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:520px){
    
    .text-2xl {
        font-size: 1rem;
        line-height: 1rem;
    }
    .w-3\/4 {
        width: 41%;
    }
    .mb-10 {
        margin-bottom: 0.5rem;
    }
    .footerInfoBox1{
        flex-wrap: wrap;
    }
    .footerInfoBox1 h1{
        margin-top: .8rem;
    }
    .footerInfoBox1 p {
        margin-top: 0.5rem;
        font-weight: 600;
        font-size: .7rem;

    }
    .paymentSocialMediaBox{
        flex-direction: column;
    }
    .paymentIcon{
        border-right: none;
        width: 100%;
    }
    .paymentIcon h1{
        font-size: 1rem;
    }
    .socialMediaIcon h1{
        font-size: 1rem;
    }
    .socialMediaIcon img{
        width: 1.7rem;
        margin-right: .8rem;
    }
    .footerMainBox {
        width: 95vw; 
        margin: auto;
    }
}
@media (max-width:300px){
    .footerInfoBox1{
        grid-template-columns: repeat(2,1fr);
    }
    .footerInfoBox1 p{
        line-height: .8rem;
    }
    
}
