
.cardBox{
    display: flex;
  
    gap: 1.5rem;
    flex-wrap: wrap;
    
    cursor: pointer;
}
.card{
    display: flex;
    flex-direction: column;
    width: 17rem; 
    min-height: 15.7rem;
    overflow: hidden;
   
}
.card p{
    cursor: pointer;
}
.cardName{
    height: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
.image{
    width: 100%;
}
.loading{
    margin: auto;
    width: 10rem;
}
@media (max-width:520px){
    .card {
        min-height: 12.7rem;
        min-width: 9rem;
        grid-area: 1rem;
    }
    .cardBox{
        gap: .5rem;
    }
}
@media (max-width:359px){
    .card {
        max-width: 9rem;
        min-width: 8rem; 
    }
    .footerBottom {
        bottom: -68rem;
    }
}

